*{
    .product-card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.509);
        overflow: hidden;
        transition: transform 0.5s ease-in-out;
      
        &:hover {
          transform: scale(2.05);
        }
    background: rgb(48, 47, 47);
}
}


